@use '@angular/material/theming' as mat;

// Define palettes
$primary-palette: mat.define-palette(mat.$indigo-palette);
$accent-palette: mat.define-palette(mat.$blue-palette);

// Create a light theme
$app-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Include core and component themes
@include mat.core();
@include mat.all-component-themes($app-theme);