<div>
  <img src="/assets/images/SGBannerVector_WPF.jpg" alt="Justine Logo" class="logo align-text-top">
</div>
<nav class="navbar navbar-expand-lg bg-white shadow-sm rounded my-3 mx-3">
  <div class="container-fluid">

    <div class="collapse navbar-collapse justify-content-begin" id="mainNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link fw-semibold" [routerLink]="['/catalog']">Catalog</a>
        </li>
        <li class="nav-item">
          <!-- account-menu is a component; keep it here. Use Bootstrap spacing if needed -->
          <account-menu [user]="currentUser" (signedOut)="handleSignOut()"></account-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>